/*  your css code here. If applicable */
.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}

.red, .green, .yellow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
